@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: kumbhSans;
  src: url(../../assets/font/Kumbh_Sans/static/KumbhSans-Regular.ttf);
}

@layer base {
  html {
    font-family: kumbhSans;
  }
}

@layer components {
  .link-nav {
    @apply text-xl font-semibold text-shark lg:text-base lg:font-normal lg:text-paleSky;
  }
  .link-nav:not(:last-child) {
    @apply mr-8;
  }
  .link-nav:hover {
    @apply cursor-pointer lg:text-shark;
  }
  header:hover .link-nav:hover {
    @apply lg:border-b-4 lg:border-b-pumpkin;
  }

  .arrow {
    @apply absolute top-[50%] flex h-10 w-10 -translate-y-[50%] cursor-pointer items-center justify-center rounded-full bg-white lg:hidden;
  }
  .arrow-carrousel {
    @apply absolute top-[50%] hidden h-10 w-10 -translate-y-[50%] cursor-pointer items-center justify-center rounded-full bg-white lg:flex;
  }

  .thumbnail {
    @apply h-20 w-20 cursor-pointer rounded-xl;
  }

  .thumbnail:hover {
    @apply opacity-60;
  }

  .icon-to-cart {
    @apply cursor-pointer self-center;
  }

  .icon-username {
    @apply h-[24px] w-[24px] cursor-pointer border-white md:h-[50px] md:w-[50px] lg:rounded-full lg:border-2 lg:hover:border-pumpkin;
  }

  .wrapper-navbar {
    @apply absolute z-20 mt-[-45px] h-[120vh];
  }

  .no-scroll {
    @apply overflow-hidden;
  }

  .price {
    @apply mr-4 self-center text-3xl font-bold;
  }
  .soldout-price {
    @apply self-center text-base text-cadetBlue line-through md:self-start lg:mt-3;
  }
}
